.ais-Hits-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
}
.ais-Hits-item{
 height: 40%;
 margin: 10px 20px;
}

.ais-SearchBox{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.ais-SearchBox svg{
    fill:gray;
    width: 20px;
    height: 20px;
}

.ais-SearchBox input{
   padding: 5px;
   border-radius: 25px;
   margin: 0px 5px;
   border: 1px solid gray;
}

.ais-SearchBox input:focus{
    outline: none;
}
 

.ais-SearchBox-reset svg{
    display: none;
}

input[type=search]::placeholder{
padding-left:10px;
}

.ais-Pagination{
display: flex;
justify-content: center;
font-weight: bold;
color: gray;
margin: 30px 0px;
}

.ais-Pagination-list{
    display: flex;
    flex-direction: row;
    width: 300px;
    list-style: none;
    justify-content: space-around;
    align-self: center;
}

.ais-Pagination-item{
    transition: transform .2s; 
}

.ais-Pagination-item:hover{
    transform: scale(1.5) !important;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .ais-Hits-item{
        width:80%;
       }
       
  }