.contentBoxes{
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0px;
}

.contentBox{
text-align: left;
width: 400px;
margin:20px;
}

.contentBox h1{
    color: gray;
    text-decoration: underline;
    font-size: 120%;
}